#自动调用api保活，加密版
name: Auto Api Secret

on:
  release:
    types: [published]
  push:
    tags:
      - 'v*'
  #  branches: 
  #    - run
  schedule:
    - cron: '12 */6 * * *'
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up Python #安装python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install requests #安装requests
        run: |
          pip install requests
      - name: read config from secrets  #读取机密
        env:
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }} # refresh_token 提供
        run: |
          echo $REFRESH_TOKEN > refresh_token.txt
      - name: Refresh Api #Api调用
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }} # client_id 提供
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }} # client_secret 提供
        run: |
          echo `date +"%Y-%m-%d %H:%M:%S"` begin > time.log
          python refresh.py
      - name: Commit #上传新的refresh_token到仓库
        run: |
          git config --global user.email AutoupdateRobot@email.com
          git config --global user.name AutoupdateRobot
          git add .
          git commit -m "update new refresh_token" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
